.footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #16181d;
    border-radius: 4px;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    min-height: 200px;
  }
  
  .footer-left {
    font-size: 14px;
   
  }
  
  .footer-right {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .footer-right a {
    font-size: 14px;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-right a:hover {
    color: #7cf03d;
    padding: 8px 10px;
    border-radius: 30px;
    background-color: #333a45;
}
