@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family :'Varela Round','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
  }
  body, html {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }