.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #23272f; /* Use # for hex colors */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow */
  /* Define the height of the nav-bar */
}

/* Add shadow when scrolled */
.nav-bar.scrolled {
  box-shadow: 0 1px 2px rgba(118, 117, 117, 0.2);
}

#logo {
  height: 60px;
  width: 60px;
}

.nav-left {
  width: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-mid {
  width: 50%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  background: #333a45;
  border-radius: 40px;
  padding: 8px 20px;
}
.search-icon{
  flex-grow: 1;
  padding-left: 0;
  border: none;
  font-size: 1rem;
  background-color: transparent;  
}
#search-bar {
  outline: none;
  background: #333a45;
  width: 100%;
  border: none;
  font-size: 16px;
}

.nav-right {
  width: 40%;
  display: flex;
  justify-content: right;
  gap: 30px;
}

.nav-right li {
  list-style: none;
}

.nav-right li a {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 550;
  color: #e2d7d7;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-right li:hover a,
.nav-right li.active a {
  color: #7cf03d;
  
  border-radius: 30px;
  background-color: #333a45;
}