@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body, html {
    height: 100%;
    width: 100%;
    background-color: #1f242d;
    color: wheat;
    display: flex;
    flex-direction: column;
  }
  